@font-face {
    font-family: 'roboto_condensedbold';
    src:  url('RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
html{
    background-color: purple;
    color: goldenrod;
    background: linear-gradient(#b300b2, #660066);
}

body {
    font-family: "Jersey 15", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: auto;
    
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'roboto_condensedbold', Arial, Helvetica, sans-serif;
}
header li {
    display: inline;
}

.floweroflife {
    mix-blend-mode: multiply;
    max-width: 500px;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

a:link {
    color: gold;
}

a:visited {
    color: yellow
}

a:hover {
    color: white;
}
a:active {
    color: black;
}

#Projects {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 24px;
    border: 8px solid;
    background: rgba(255, 255, 255, .1);
    justify-content: space-between;
}

.Project img {
    display: block;
    border: 2px solid;
    border-color: whitesmoke;
    border-radius: 8px;
}
h3 {
    color: whitesmoke;
}
p {
    color: whitesmoke;
}
span{
font-weight: bold;
}
input{
    transition: all 1s ease-in-out; /* changed the timing to show the effect */
    border: 2px solid transparent;
    background: lightgrey;
}
input:focus {
    outline: none;
  border-color: black;
}
